.video-card {
  width: 35vh;
  height: 55vh;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 24px;
  border-radius: 2vh;
  overflow: hidden;
  padding: 10px;
  display: inline-block;
  color: #000000;
  text-decoration: none;
}

.video-card__img {
  width: calc(100% + 20px);
  margin: -10px;
}

.video-card__title {
  display: block;
  font-size: 1.5rem;
  color: #000000;
  text-decoration: none;
  margin: 0;
  padding: 1.5vh 0 1vh 0;
  border-bottom: #cecece 1px solid;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-card__title:hover {
  text-decoration: underline;
}

.video-card__info {
  margin: 0;
  padding: 1.5vh 0 1.5vh 0;
  border-bottom: #cecece 1px solid;
}

.video-card__channel {
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
  margin-bottom: 1vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-card__date {
  font-size: 1rem;
}

.video-card__views {
  font-size: 1rem;
  float: right;
}

.video-card__views::after {
  content: "👁";
  margin-left: 1.5vh;
  vertical-align: middle;
}

.video-card__description {
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
