body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    overflow: hidden;
    align-items: center;
}

.slider {
    align-self: flex-start;
}
