.slider-controls {
  display: flex;
  align-items: center;
}

.slider-controls__button {
  width: 10vh;
  height: 0;
  padding: 0;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.slider-controls__button_prev {
  border-top: 2vh solid #ffffff;
  border-bottom: 2vh solid #ffffff;

  border-right: 2vh solid #cecece;
  border-left: 0;
}

.slider-controls__button_next {
  border-top: 2vh solid #ffffff;
  border-bottom: 2vh solid #ffffff;

  border-left: 2vh solid #cecece;
  border-right: 0;
}

.slider-controls__button:hover .slider-controls__tooltip{
  visibility: visible;
}

.slider-controls__tooltip{
  visibility: hidden;
  width: 4vh;
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  padding: 1vh 0;
  border-radius: 1vh;

  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(-50%);
}

.slider-controls__page-num {
  background-color: #333333;
  color: #ffffff;
  width: 4vh;
  height: 4vh;
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 100%;
  margin: 0 2vh;
  line-height: 4vh;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
};
